*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background: linear-gradient(89.77deg, #4B5162 0.84%, rgba(124, 129, 140, 0.8) 99.84%);;
}

#card{
    margin: 2.5rem;
    width: 95%;
    height: 85vh;
    background: #707582;
    border-radius: 0.5rem;
    box-shadow: 1.25rem 1.25rem 2.1875rem rgba(0, 0, 0, 0.25);
}

#history{
    background: #4B5162;
    border-radius: 0.5rem;
    margin: 1.5rem;
    padding: 3rem;
    color: #eeeeee;
}

#history h1{
    font-weight: 800;
    padding: 0.2rem;
}

#history h3{
    font-weight: 700;
    padding: 0.2rem;
}

#history p{
    font-weight: 400;
    padding: 0.2rem;
}

span{
    color: #5294E2;
}

#Form{
    margin: 0.5rem;
    padding: 1.25rem;
}

#Form h2{
    font-weight: 700;
    color: #eeeeee;
}

#Form h5{
    color: #353841;
    font-size: 1.15rem;
    font-weight: 600;
}

#Form form{
    padding: 1rem 0;
}

input[type = number], select{
    width: 60%;
    margin: 0.4rem 0;
    border: none;
    border-radius: 0.15rem;
    padding: 0.5rem;
    color: #eeeeee;
    background-color: #4B5162;
    outline: none;
    font-weight: 300;
    font-size: 0.9rem;
}

::-webkit-input-placeholder{
    color: #eeeeee;
    font-size: 0.9rem;
    font-weight: 300;
}

input[type = submit]{
    margin-top: 0.4rem;
    margin-left: 5rem;
    width: 30%;
    padding: 0.35rem;
    color: #eeeeee;
    background-color: #5294E2;
    border: none;
    border-radius: 0.15rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#Form form .mf {
    font-size: 1.56rem;
}

i{
    font-size: 2rem;
    margin-right: 3rem;
    color: #eeeeee;
}

#output{
    width: 85%;
    margin-top: 1rem;
    padding: 0.6rem;
    background: linear-gradient(89.98deg, rgba(124, 129, 140, 0.8) -1.86%, rgba(196, 196, 196, 0.890625) -1.86%, rgba(56, 60, 74, 0.3) -1.86%, #707582 108.02%);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: 700;
    color: #eeeeee;
}

.errors{
    display: flex;
}

#err{
    padding: 0.25rem;
    color: rgb(184, 10, 10);
    font-size: 0.9rem;
    font-weight: 400 !important;
}

#errm{
    padding: 0.25rem;
    color: rgb(184, 10, 10);
    font-size: 0.9rem;
    font-weight: 400 !important;
}

#erry{
    padding: 0.25rem;
    color: rgb(184, 10, 10);
    font-size: 0.9rem;
    font-weight: 400 !important;
}

#errg{
    padding: 0.25rem;
    color: rgb(184, 10, 10);
    font-size: 0.9rem;
    font-weight: 400 !important;
}