*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(89.77deg, #4B5162 0.84%, rgba(124, 129, 140, 0.8) 99.84%);;
}

#card{
    margin: 3rem;
    width: 95%;
    height: 80vh;
    background: #707582;
    border-radius: 0.5rem;
    box-shadow: 1.25rem 1.25rem 2.1875rem rgba(0, 0, 0, 0.25);
}

#history{
    background: #4B5162;
    border-radius: 0.5rem;
    margin: 1.5rem;
    padding: 3rem;
    color: #eeeeee;
}